$colorLink: rgb(14, 14, 54);
$FontPrincipal:"Oswald",
sans-serif;
$FontParrafos: 'Source Sans Pro',
sans-serif;
$Color_parrafos:#061b27;
$artic_ButtonColor:#113042;
$artic_BackgroundColor:rgb(175, 175, 240);
$FooterColor:#f59b4b;