@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #cfe6f6;
  color: #0b2b3d;
  background-color: #e09649;
  background-color: #fbd386;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c0b98a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}
#logo {
  width: 70px;
  margin-left: 15px;
  border-radius: 15px;
}
#menu li > a {
  font-size: 18px;
  color: #113042;
}

ul {
  list-style: none;
}

#menu a:hover {
  text-decoration: underline;
}
#menu form > button {
  font-size: 18px;
  font-weight: bold;
  border: 1px solid rgb(93, 90, 90);
  background-color: rgb(175, 175, 240);
  color: #113042;
}
#lobi {
  margin-bottom: 30px;
  margin-top: 40px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  background: rgb(175, 175, 240);
  border-radius: 20px;
  color: #061b27;
  border: 1px solid rgb(42, 42, 42);
}
.btn:hover {
  opacity: 0.7;
}
.Images {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Images img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}
.Images h3 {
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
}
.Images a {
  padding: 10px 0;
  color: #061b27;
  display: inline-block;
  font-weight: bold;
}
.Images a:hover {
  text-decoration: underline;
}
.title {
  text-align: center;
  justify-content: center;
}
h2 {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 10px;
}

.Art {
  text-align: center;
}
.Featured img {
  width: 150px;
  height: 150px;
  transition: all 2s;
}
.Featured img:hover {
  transform: scale(1.1);
}
.Featured img {
  overflow: hidden;
}
.Featured h3 {
  font-size: 20px;
  margin: 10px 0;
}
.botton {
  border: 1px solid rgb(93, 90, 90);
  background-color: rgb(175, 175, 240);
  color: #113042;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.botton:hover {
  opacity: 0.7;
}

.logos_redes {
  width: 15px;
}
.foot {
  background-color: #f59b4b;
}
.nav-main {
  grid-area: nav-main;
}

.header-show {
  grid-area: header-show;
}

.title {
  grid-area: title;
}

.Images,
.Featured {
  display: grid;
}

@media screen and (min-width: 1200px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 30% 5% auto;
    grid-template-areas: "Images" "title" "Featured";
  }
  .Images {
    grid-template-rows: repeat(1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  .Featured {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1200px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 30% 5% auto;
    grid-template-areas: "Images" "title" "Featured";
  }
  .Images {
    grid-template-rows: repeat(1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  .Featured {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  #nav-menu {
    display: block;
  }

  #menuBurger {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 30% 5% auto;
    grid-template-areas: "Images" "title" "Featured";
  }
  .Images {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-right: 20px;
    margin-left: 20px;
  }

  .Featured {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

@media screen and (max-width: 320px) {
  #main {
    grid-template-columns: 100%;
    grid-template-rows: 30% 5% auto;
    grid-template-areas: "nav-main" "Images" "title" "Featured" "social";
    justify-content: center;
  }
  .Images {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
  }
  .Featured {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
  }
  .nav-main {
    display: none;
  }
  .header-show {
    display: none;
  }
}
