@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
  background-color: #e09649;
  background-color: #fbd386;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c0b98a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}
body #logo {
  width: 70px;
  margin-left: 15px;
  border-radius: 15px;
}
body #logo:hover {
  transform: scale(1.2, 1.2);
}

header {
  margin-top: auto;
  margin-bottom: 10px;
  padding-top: 15px;
  background-color: #f59b4b;
  border-bottom: 15px solid rgb(187, 181, 181);
}
header #nameCompany {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  color: #37918B;
  text-decoration: none;
  font-weight: 700px;
  text-shadow: 2px 2px 0.2px rgb(79, 77, 77);
  font-size: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
}
header #nameCompany:hover {
  transform: scale(1.1);
  transition: duration(0.1ms);
}

#menu li > a {
  font-size: 18px;
  color: rgb(14, 14, 54);
  margin-left: 20px;
}
#menu li > a:hover {
  text-decoration: underline;
  color: #d07220;
  transform: scale(1.2, 1.2);
}

#title h3 {
  color: #37918B;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 0.2px rgb(128, 124, 124);
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#title img {
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 1px 2px 1px gray, 1px 2px 1px gray;
}
#title p {
  margin-top: 55px;
  margin-bottom: 55px;
  color: #061b27;
  font-size: 18px;
  text-align: center;
}

#Featured {
  display: grid;
}
#Featured .Art {
  text-align: center;
}
#Featured img {
  width: 100px;
  height: 100px;
  transition: all 2s;
  overflow: hidden;
}
#Featured img:hover {
  transform: scale(1.1);
}
#Featured h3 {
  font-size: 20px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  background: rgb(175, 175, 240);
  border-radius: 20px;
  color: #061b27;
  border: 2px solid rgb(93, 90, 90);
}
.btn:hover {
  opacity: 0.7;
  color: #d07220;
}

.botton {
  border: 1px solid rgb(93, 90, 90);
  background-color: rgb(175, 175, 240);
  color: #113042;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.botton:hover {
  opacity: 0.7;
}

.foot {
  background-color: #f59b4b;
  margin-top: 15px;
  border-top: 15px solid rgb(187, 181, 181);
  padding: 15px;
}
.foot .case1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(19, 19, 52);
  font-weight: 600;
}
.foot .case2 {
  flex-direction: row;
  text-align: center;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.foot .case2 .redes > a {
  text-decoration: none;
  color: #061b27;
  flex-direction: row;
  font-size: 20px;
}
.foot .case3 {
  justify-content: center;
}
.foot .logos_redes {
  width: 25px;
}

@media screen and (max-width: 1200px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    grid-template-areas: "title" "Featured";
  }
  #title {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #title #img-dog {
    width: 1200px;
    height: 565px;
  }
  #Featured {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    grid-template-areas: "title" "Featured";
  }
  #title {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #title #img-dog {
    width: 1200px;
    height: 565px;
  }
  #Featured {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 800px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    grid-template-areas: "title" "Featured";
  }
  #title {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #Featured {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 320px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    grid-template-areas: "title" "Featured";
  }
  #title {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #Featured {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}/*# sourceMappingURL=style_Articulos.css.map */