@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Playfair+Display:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100hv;
  background: #cfe6f6;
  color: #0b2b3d;
  background-color: #e09649;
  background-color: #fbd386;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c0b98a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}

#logo {
  width: 70px;
  margin-right: 20px;
  border-radius: 15px;
}

#menu li > a {
  font-size: 18px;
  color: #113042;
}
ul {
  list-style: none;
  color: #d07220;
  transform: scale(1.2, 1.2);
}
#menu a:hover {
  text-decoration: underline;
  color: #d07220;
  transform: scale(1.2, 1.2);
}
.titulo {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 35px;
  color: #19445c;
  margin-top: 15px;
  margin-bottom: 25px;
}
.nav {
  margin-top: 15px;
}

.card {
  width: 100%;
  margin: 10px;
  border-radius: 10%;
  background-color: #edbb73;
  font-size: 14 px;
}
.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  background: rgb(175, 175, 240);
  border-radius: 20px;
  color: #061b27;
  border: 1px solid rgb(42, 42, 42);
}

#aside {
}
footer {
  background-color: #d8953a;
  border-radius: 15px;
}
.redes2 {
  width: 25px;
}
.logos_redes {
  width: 15px;
}
