@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #cfe6f6;
  color: #0b2b3d;
  background-color: #e09649;
  background-color: #fbd386;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c0b98a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}

header {
  margin-top: auto;
  margin-bottom: 10px;
  padding-top: 15px;
  background-color: #f59b4b;
  border-bottom: 15px solid rgb(187, 181, 181);
}
header #nameCompany {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  color: #37918B;
  text-decoration: none;
  font-weight: 700px;
  text-shadow: 2px 2px 0.2px rgb(79, 77, 77);
  font-size: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
}
header #nameCompany:hover {
  transition: duration(0.1ms);
}

#menu li > a {
  font-size: 18px;
  color: #061b27;
}
#menu li > a:hover {
  color: #d07220;
  transition: duration 0.3s;
  text-decoration: underline;
}
#menu #logo {
  width: 70px;
  margin-left: 15px;
  border-radius: 15px;
}
#menu form > button {
  font-size: 18px;
  font-weight: bold;
  border: 1px solid rgb(93, 90, 90);
  background-color: rgb(175, 175, 240);
  color: #061b27;
}

.Serv_img {
  border-radius: 5px;
  border: 2px solid rgb(228, 156, 102);
  box-shadow: 1px 2px 2px 0.5px rgb(196, 172, 154);
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  background: rgb(175, 175, 240);
  border-radius: 20px;
  color: #061b27;
  border: 2px solid rgb(93, 90, 90);
}
.btn:hover {
  opacity: 0.7;
}

.Images img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
  color: #061b27;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  color: #061b27;
}

a {
  /* padding: 10px 0;*/
  display: inline-block;
  color: #43184F;
  font-weight: bold;
}

.title {
  text-align: center;
  justify-content: center;
}
.title h2 {
  font-size: 30px;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 40px;
}

.Art {
  text-align: center;
}
.Art img {
  width: 150px;
  height: 150px;
  transition: all 2s;
  overflow: hidden;
}
.Art h4 {
  font-size: 20px;
  margin: 10px 0;
  color: #061b27;
}
.Art .botton {
  border: 1px solid rgb(93, 90, 90);
  background-color: rgb(175, 175, 240);
  color: #061b27;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.Art .botton:hover {
  opacity: 0.7;
}

.foot {
  background-color: #f59b4b;
  margin-top: 15px;
  border-top: 15px solid rgb(187, 181, 181);
  padding: 15px;
}
.foot .case1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(19, 19, 52);
  font-weight: 600;
}
.foot .case2 {
  flex-direction: row;
  text-align: center;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.foot .case2 .redes > a {
  text-decoration: none;
  color: #061b27;
  flex-direction: row;
  font-size: 20px;
}
.foot .case3 {
  justify-content: center;
}

.logos_redes {
  width: 25px;
}

.Featured img:hover {
  transform: scale(1.1);
}

.nav-main {
  grid-area: nav-main;
}

.header-show {
  grid-area: header-show;
}

.title {
  grid-area: title;
}

.Images,
.Featured {
  display: grid;
}

@media screen and (min-width: 1000px) {
  #menu a:hover {
    transform: scale(1.2, 1.2);
  }
}
@media screen and (min-width: 1200px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 30% 5% auto;
    grid-template-areas: "Images" "title" "Featured";
  }
  .Images {
    grid-template-rows: repeat(1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  .Featured {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1200px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 30% 5% auto;
    grid-template-areas: "Images" "title" "Featured";
  }
  .Images {
    grid-template-rows: repeat(1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  .Featured {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  #nav-menu {
    display: block;
  }
}
@media (max-width: 800px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 30% 5% auto;
    grid-template-areas: "Images" "title" "Featured";
  }
  .Images {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 1fr);
    margin-right: 40px;
    margin-left: 40px;
  }
  .Featured {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
@media screen and (max-width: 400px) {
  #main {
    grid-template-columns: 100%;
    grid-template-rows: 30% 5% auto;
    grid-template-areas: "nav-main" "Images" "title" "Featured";
    justify-content: center;
  }
  .Images {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
  }
  .Featured {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
  }
  .nav-main {
    display: none;
  }
  .header-show {
    display: none;
  }
  .case2 {
    margin-bottom: 10px;
  }
  .logos_redes {
    width: 15px;
  }
}/*# sourceMappingURL=styles.css.map */