@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap"); 
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@mixin box-shadow {
        border: 2px solid rgb(228, 156, 102);
        box-shadow: 1px 2px 2px 0.5px rgb(196, 172, 154);
}
@mixin link($color,$type) {
    color :$color;
    font-weight: $type;
}
@mixin hover($style){
    text-decoration: $style;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #cfe6f6;
    color: #0b2b3d;
    background-color: #e09649;
    background-color: #fbd386;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c0b98a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    font-size: 16px;
    font-family: $FontPrincipal;
}
header{
    margin-top: auto;
    margin-bottom: 10px;
    padding-top: 15px;
    background-color: map-get($palette, footer_color );
    border-bottom: 15px solid map-get($palette, borderlight);
    #nameCompany {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $FontPrincipal;
            color:#37918B;
            text-decoration: none;
            font-weight: 700px;
            text-shadow: 2px 2px 0.2px rgb(79, 77, 77);
            font-size: 60px;
            padding-top: 15px;
            padding-bottom: 15px;
            &:hover{
                //transform: scale(1.1);
                transition: duration(0.1ms);
            }

        }
   
}
 
#menu {
    
    li > a {
    font-size: 18px;
    color: map-get($palette, colorparrafos);
    &:hover{
        //text-decoration: underline;
        color: map-get($palette, color_hover );
       transition: duration (0.3s);
       @include hover(underline)
    }
    
        
    }
    #logo {
        width: 70px;
        margin-left: 15px;
        border-radius: 15px;
    }
        form>button {
            font-size: 18px;
            font-weight: bold;
            border: 1px solid map-get($palette, border_color );
            background-color: map-get($palette, secundary);
           color: map-get($palette, boton_color );
        }
    }
    

.Serv_img {
    border-radius: 05px;
    @include box-shadow();   
   
}
.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    background: map-get($palette, secundary );
    border-radius: 20px;
    color: map-get($palette, boton_color );
    border: 2px solid map-get($palette, border_color );
    &:hover{
        opacity: 0.7;
    }
}
.last_botton{
    @extend .botton;
}
.Images img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
   
        }
        h3 {
            font-size: 20px;
            margin: 10px 0;
            text-align: center;
            color: map-get($palette, colorparrafos );
            
        }
        p{
            font-family: $FontParrafos;
            color: map-get($palette, colorparrafos )
            
        }
        a {
           /* padding: 10px 0;*/
            display: inline-block;
            @include link(#43184F, bold);
           
    }

.title {
    text-align: center;
    justify-content: center;
    
    h2 {
            font-size: 30px;
            text-decoration: underline;
            margin-top: 20px;
            margin-bottom: 40px;
           
        }
       
}


.Art {
    text-align: center;
    img {
            width: 150px;
            height: 150px;
            transition: all 2s;
            overflow: hidden;
            
        }
        h4 {
             font-size: 20px;
             margin: 10px 0;
             color: map-get($palette, colorparrafos);
                  }.botton {
                    border: 1px solid rgb(93, 90, 90);
                    background-color: map-get($palette, secundary);
                    color: map-get($palette, boton_color );
                    padding: 5px;
                    font-size: 15px;
                    font-weight: bold;
                    border-radius: 20px;
                    margin-top: 10px;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.7;
                    }
                }

}
.foot {
    background-color: map-get($palette, footer_color);
    margin-top: 15px;
    border-top: 15px solid map-get($palette, borderlight);
    padding: 15px;
    .case1{
        
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: $FontParrafos;
        @include link(rgb(19, 19, 52), 600)
        
    }
    .case2 {
            flex-direction: row;
            text-align: center;
            justify-content: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .redes>a {
                    text-decoration: none;
                    color: map-get($palette, colorparrafos);
                    flex-direction: row;
                    font-size: 20px;
            }
          
                
            
    }
    .case3 {
        justify-content: center;
    }
}

.logos_redes {
    width: 25px;
}

.Featured img:hover {
    transform: scale(1.1);
}



.nav-main {
    grid-area: nav-main;
}

.header-show {
    grid-area: header-show;
}

.title {
    grid-area: title;
}

.Images,
.Featured {
    display: grid;
}

@media screen and (min-width: 1000px){
    #menu a:hover {
            transform: scale(1.2, 1.2);
            }
        
}

@media screen and (min-width: 1200px) {
    #main {
        grid-template-columns: 1fr;
        grid-template-rows: 30% 5% auto;
        grid-template-areas: "Images""title""Featured";
    }

    .Images {
        grid-template-rows: repeat(1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .Featured {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
   
}

@media screen and (max-width: 1200px) {
    #main {
        grid-template-columns: 1fr;
        grid-template-rows: 30% 5% auto;
        grid-template-areas: "Images""title""Featured";
    }

    .Images {
        grid-template-rows: repeat(1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .Featured {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #nav-menu {
        display: block;
    }

     
}

@media (max-width: 800px) {
    #main {
        grid-template-columns: 1fr;
        grid-template-rows: 30% 5% auto;
        grid-template-areas: "Images""title""Featured";
    }
    

    .Images {
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 1fr);
        margin-right: 40px;
        margin-left: 40px;
    }

    .Featured {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

}

@media screen and (max-width: 400px) {
    #main {
        grid-template-columns: 100%;
        grid-template-rows: 30% 5% auto;
        grid-template-areas: "nav-main""Images""title""Featured";
        justify-content: center;
    }

    .Images {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    }

    .Featured {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    }

    .nav-main {
        display: none;
    }

    .header-show {
        display: none;
    }
    .case2{
        margin-bottom: 10px;
    }
    .logos_redes {
            width: 15px;
        }
    
    
    }
