@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");

body {
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
  background-color: #e09649;
  background-color: #fbd386;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c0b98a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
#logo {
  width: 70px;
  margin-left: 15px;
}
#menu li > a {
  font-size: 18px;
  color: rgb(14, 14, 54);
}
#menu a:hover {
  text-decoration: underline;
}
.Art {
  text-align: center;
}
.Featured img {
  width: 150px;
  height: 150px;
  transition: all 2s;
}
.Featured img:hover {
  transform: scale(1.1);
}
.Featured img {
  overflow: hidden;
}
.Featured h3 {
  font-size: 20px;
  margin: 10px 0;
}
.botton {
  border: 1px solid rgb(93, 90, 90);
  background-color: rgb(175, 175, 240);
  color: #113042;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.botton:hover {
  opacity: 0.7;
}

.logos_redes {
  width: 15px;
}
.Featured {
  display: grid;
}
.foot {
  background-color: #f59b4b;
}

.redes > a {
  text-decoration: none;
  color: rgb(31, 27, 27);
}
.logos_redes {
  width: 15px;
}
#Featured img {
  width: 150px;
  height: 150px;
}
#title,
#Featured {
  display: grid;
}
@media screen and (max-width: 1200px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    grid-template-areas: "title" "Featured";
  }
  #title {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #Featured {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    grid-template-areas: "title" "Featured";
  }
  #title {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #Featured {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 800px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    grid-template-areas: "title" "Featured";
  }
  #title {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #Featured {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 320px) {
  #main {
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    grid-template-areas: "title" "Featured";
  }
  #title {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #Featured {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
